<h2>Newsletter</h2>
<p>Sign up to receive new event announcements</p>

<form id="signup" name="Newsletter Signup" method="POST" action="/thanks" data-netlify="true">
  <label for="email">Enter your email here</label>
  <input type="email" name="email" autocomplete="email" placeholder="jamstacker@email.address" required>
  <button type="submit">Subscribe</button>
</form>

<p>
  <small>We'll only send you occasional announcements about new events, nothing else!</small>
</p>