<p>
  There are no meetings currently scheduled, but <a href="/#newsletter">stay tuned</a> 
  for details, or if you have an idea for an event or talk, <a href="mailto:{{ settings.email }}">let us know!</a>
</p>