<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>

			<a href="{{ '/' | url }}" title="Home">

				{% include "components/logo.njk" %}

			</a>

			<nav>
				{% set navPages = collections.all | eleventyNavigation %}
				<ul>
				{%- for entry in navPages %}
					<li>
						<a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %} class="navlink">{{ entry.title }}</a>
					</li>
				{%- endfor %}
				</ul>
			</nav>

		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		<footer>
			<section class="container">
				<p><a href="{{ settings.slack }}">Join our channel</a> in the Jamstack slack</p>
				<p>This site is built with <a href="https://www.11ty.dev">11ty</a> and deployed to <a href="https://www.netlify.com">Netlify</a>. View the <a href="{{ pkg.repository.url }}">source code</a>.</p>
				<p>Organized by <a href="{{ settings.organizers[0].website }}">{{ settings.organizers[0].name }}</a></p>
			</section>
		</footer>

	</body>

</html>
