---
layout: layouts/base.njk
section: home
---
<section class="intro">
  <div class="container">
    <h1>{{ title }}</h1>
    <p>{{ summary | safe }}</p>

    <div class="buttons-container">

      {% include "components/button-signup.njk" %}

    </div>

  </div>
</section>

{% set event = collections.event | upcomingEvents | first %}

<section class="container">

  <h2>Our next meeting</h2>

  {% if event %}

    {% include "components/event-short.njk" %}

    <p><a href="/events">See all events →</a></p>
    
  {% else %}

    {% include "components/message-no-events.njk" %}

  {% endif %}

</section>

<section class="container" id="about">

  <h2>About {{ settings.title }}</h2>

  <p>We are the official <a href="https://jamstack.org">Jamstack.org</a> community 
  group for Barcelona, and we organize physical and online events, primarily in the 
  English language.</p>

  <p>We're here to learn more about the Jamstack, share new ideas and techniques, and 
  build a fantastic, supportive community!</p>

</section>

<section class="container" id="jamstack">

  <h2>OK, what is the Jamstack? 🤔</h2>

  <p>The Jamstack is a web development architecture based on client-side 
  JavaScript, reusable APIs, and pre-built markup.</p>

  <p>It's the modern way to build websites and apps that delivers better performance,
  is more secure and scalable, and offers the best developer experience around.</p>

  <p>Learn more over at <a href="https://jamstack.org/">Jamstack.org</a></p>

</section>

<section class="container" id="newsletter">

  {% include "components/form-signup.njk" %}

</section>